NEXT_PUBLIC_SANITY_PROJECT_ID=your-project-id
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2026-06-24
NEXT_PUBLIC_SITE_URL=https://www.example.com
NEXT_PUBLIC_WEB3FORMS_ACCESS_KEY=
GOOGLE_SITE_VERIFICATION=
